@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');

.html1{
    background-color: #C0C0C0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 100px;
    margin-left: 50px;
    margin-right: 20px;
}


.alignment{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    margin-top: 20px;
    
}

.start_game {
    margin-top: 70px;
    margin-left: 250px;
    font-size: 40px;
    font-style: italic;
    color: #1E90FF;
   
}
img{
    border-radius: 20px;
    
}
.first_header{
    font-family: 'Press Start 2P', cursive;
    margin-bottom: 20px;
}
.head_ins{
    font-family: 'Bubblegum Sans', cursive;   
}
p{
    font-family: 'Lobster', cursive;
}
h6{
    margin-top: 120px;
}




.html2{
    background-color: gray;
}

.container{
    height:  500px;
    width: 700px;
    background-color: #1E90FF; 
    display: flex;
    flex-direction: row;
    justify-content:space-evenly; 
    border-radius: 5px;  
    margin-left: 150px;
}

.column1{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 10px;   
}
.column2{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 10px;   
}
.column3{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 10px;   
}
.column4{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 10px;   
}
.column5{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 10px;   
}
.column6{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 10px;   
}
.column7{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 10px;   
}

.circle{
    height: 60px;
    width: 60px;
    background-color: white;
    margin: 10px;
    border-radius: 50px;   
}
button{
margin-left: 900px;
height: 80px;
width: 100px;
background-color: lightcoral;
color: white;
border-radius: 40px;
font-family: 'Monoton', cursive ;
    
}
h4{
    font-family: 'Press Start 2P', cursive;
    font-size: 10px;
}

.red{
    background-color: red;
}

.yellow{
    background-color: yellow;
}
.modal{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;   
    right: 0;
    background-color: rgba(0,0,0,0.75);
    color: white;
    font-size: 50px;
    text-align: center;
}