.html2{
    background-color: gray;
}

.container{
    height:  500px;
    width: 600px;
    background-color: blue; 
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; 
    border-radius: 5px;  
}

.column1{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 10px;   
}

.circle{
    height: 60px;
    width: 60px;
    background-color: white;
    margin: 10px;
    border-radius: 50px;   
}

.red{
    background-color: red;
}

.black{
    background-color: black;
}